.finder-parag {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finder-parag .parag-text {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.finder-parag .parag-text h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 6px;
  padding-left: 50px;
}

.matrix {
  margin-top: 35%;
  padding-left: 40px;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  width: 50px;
  height: 50px;
  border: 1.25px solid white;
  background: none;
  cursor: pointer;

  &:hover {
    background: $color-one;
  }

  &.active {
    background: $color-one;
  }

  &.noHoverEffect {
    background: transparent;
  }

  &.noHoverEffect.active {
    background: $color-one;
  }

  &.noHoverEffect.active:hover {
    background: $color-three;
  }

  &.active.startAndEnd {
    background: $color-three;
  }

  &.proposed {
    background: $color-six;
  }

  &.proposed:hover {
    background: $color-one;
  }
}

.bottom-button {
  position: absolute;
  top: 245%;
  left: 45%;
  height: 45px;
  width: 185px;
  background: $color-one;
  color: $color-text;
  font-family: $font-text;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
}

/* RESPONSIVE SCREEN INFO */

.too-small-screen {
  visibility: hidden;
  color: white;
  position: absolute;
  top: 60%;
  left: 10%;
}

.too-small-screen h1 {
  letter-spacing: 5%;
}

@media (max-width: 1260px) {
  .too-small-screen {
    visibility: visible;
  }

  .matrix,
  .bottom-button,
  .finder-parag .parag-text {
    visibility: hidden;
  }
}