.finder-parag {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finder-parag .parag-text {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.finder-parag .parag-text h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 6px;
  padding-left: 50px;
}

.matrix {
  margin-top: 35%;
  padding-left: 40px;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background: none;

  &:hover {
    background: $color-one;
  }

  &.active {
    background: $color-one;
  }

  &.noHoverEffect {
    background: transparent;
  }

  &.noHoverEffect.active {
    background: $color-one;
  }

  &.noHoverEffect.active:hover {
    background: $color-three;
  }

  &.active.startAndEnd {
    background: $color-three;
  }
}

.bottom-button {
  position: absolute;
  top: 245%;
  left: 45%;
  height: 45px;
  width: 165px;
  background: $color-one;
  color: $color-text;
  font-family: $font-text;
  border: none;
  letter-spacing: 2px;
  font-size: 14px;
}

/* TEXT IN BUTTON */ 

.hidden {
  visibility: hidden;
  position: absolute;
}