#pages {
  >* {
    display: none;
  }

  >.active {
    display: block;
  }
}

.splash {
  background-image: // linear-gradient(to bottom, transparent, black),
  url('../../../images/background.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navigation {
  position: absolute;
  left: 30%;
  top: 1.5%;
  width: 45%;
  display: flex;
  justify-content: center;
}

.navigation ul {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.navigation ul li a {
  font-family: $font-nav;
  color: $color-text;
  text-decoration: none;
  letter-spacing: 1.5px;
}

.splash-inner {
  position: absolute;
  left: 27%;
  top: 17%;
  display: flex;
  flex-direction: column;
}

.splash-inner h1 {
  margin-bottom: 0;
}

.splash-inner h3 {
  text-align: right;
  margin-top: 0;
  margin-right: 40px;
}

footer {
  position: absolute;
  top: 215%;
  width: 100%;
}

footer p {
  font-family: $font-text;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 72px;
}

@media (max-width: 1260px) {
  .splash-inner {
    left: 16vw;
  }
}

@media (max-width: 1100px) {
  .splash-inner {
    left: 21vw;
  }
}

@media (max-width: 850px) {
  .splash-inner {
    left: 16vw;
  }
}

@media (max-width: 750px) {
  .splash-inner {
    left: 20vw;
  }
  .navigation ul {
    justify-content: space-between;
  }
  .navigation {
    left: 20%;
    top: 1.5%;
    width: 55%;
  }
}

@media (max-width: 450px) {
  .navigation {
    left: 15%;
    top: 1.5%;
    width: 60%;
  }
}