@font-face {
  font-family: 'Source Sans Pro Black';
  src: url('../../fonts/SourceSansPro-Black.ttf') format('ttf');
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../../fonts/SourceSansPro-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../../fonts/SourceSansPro-Semibold.ttf') format('ttf');       
}

$font-header: 'Source Sans Pro Black';
$font-text: 'Source Sans 3', sans-serif;
$font-header-small: 'Source Sans Pro Regular';
$font-nav: 'Source Sans Pro Semibold';